/*Sidebar*/
div.sidebar-box {
  width: 300px;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Content*/
div.content-box img{
  width:100%;
  height:auto;
}

div.content-box {
  background-color: #eeeeee;
  margin: 0;
  padding: 2%;
}

div.content-box-sub {
  background-color: white;
  margin: 0;
  padding: 1%;
}

div.content-box-wrapper{
  margin-left: 300px;
}
@media screen and (max-width: 992px) {
  div.content-box-wrapper{
    margin-left: 0;
  }
}

div.content-main-box, div.content-side-box, div.side-box-articles {
  margin: 0;
  padding: 1%;
}

